@use 'variables';
@use 'base';
@use 'typography';
@use 'components';

header {
    nav {
        &.navbar {
            padding: 2rem !important;
            transition: all .3s;

            .navbar-brand {
                width: 157px;
                height: 46px;

                @media (min-width: 991px) {
                    width: 260px;
                    height: 76px;
                }
            }

            &.fixedHeader {
                background-color: transparent;
                backdrop-filter: blur(0px);
            }

            &.scrollHeader {
                background-color: variables.$blue-900;
            }

            .navbar-toggler {
                padding: 0;
                border: 0;
                border-radius: 0;

                width: 36px;
                height: 28px;

                .open-menu {
                    content: url('../images/hamburguer.svg');
                    opacity: 1;
                    display: block;

                    transition: all .1s;
                }

                .close-menu {
                    content: url('../images/close.svg');
                    display: none;

                    transition: all .1s;
                }

                &:focus,
                :focus-visible {
                    box-shadow: unset;
                }
            }

            &.active {
                background-color: rgba(0, 77, 128, 0.95);
                backdrop-filter: blur(15px);

                .navbar-toggler {
                    width: 28px;

                    .open-menu {
                        opacity: 0;
                        display: none;
                    }

                    .close-menu {
                        opacity: 1;
                        display: block;
                    }
                }
            }
        }

        .navbar-nav {
            .nav-link {
                @extend .text;

                color: variables.$white;
                font-size: 1rem;

                line-height: 250%;

                text-transform: uppercase;
                white-space: nowrap;

                &:hover {
                    color: variables.$blue-500;
                    transition: all .3s;
                }
            }

            .btn {
                max-width: 281px;
                font-size: variables.$font-xmd;
                color: variables.$white;

                padding: 0.875rem 1.375rem;
            }
        }
    }
}

.banner {
    height: 95vh;
    background-color: rgba(0, 77, 128, 0.8);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .1s;


    &.banner-0 {
        background-image: url('../images/banner2.jpg');
    }

    @media (min-width: 991px) {
        height: 100vh;

        &.banner-0 {
            background-image: url('../images/banner2-desktop.jpg');
        }
    }

    >div {
        color: variables.$white;
    }

    .banner-content-wrapper {
        padding-top: 33%;

        @media (min-width: 991px) {
            max-width: 490px;
            padding-top: 12%;
        }

        h1,
        h2,
        h3 {
            @extend .title;
            font-size: variables.$font-xxxl;
            line-height: 117%;

            margin-bottom: 1.125rem;
            color: inherit;

            @media (min-width: 991px) {
                text-align: left;
            }
        }

        p {
            @extend .text;
            font-size: variables.$font-xxmd;
            line-height: 160%;
            color: inherit;

            margin-bottom: 1.75rem;
        }

        .fispal {
            .cta-banner {
                background-color: variables.$red;
            }

            ul {
                list-style: inside;

                @media(min-width: 991px) {
                    list-style: unset;
                }
            }
        }

        .banner-carousel {
            .slick-dots {
                @media (min-width: 991px) {
                    width: auto;
                }
            }
        }
    }
}

.internal-banner {
    height: 45vh;

    background: rgba(0, 77, 128, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: variables.$white;

    .banner-internal-content-wrapper {
        padding-top: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            @extend .title;
            font-size: variables.$font-xxxl;
            line-height: 117%;

            margin-bottom: 1.125rem;
            color: inherit;

            max-width: 302px;
        }

        p {
            @extend .text;
            font-size: variables.$font-xxmd;
            line-height: 160%;
            color: inherit;

            margin-bottom: 1.75rem;
        }

        p.subtitle {
            @extend .subtitle;

            color: variables.$white;
            font-size: variables.$font-xxmd;
            font-weight: 500;

            @media (min-width: 991px) {
                font-size: variables.$font-lg;
            }
        }
    }

    @media (min-width: 991px) {
        height: 65vh;

        .banner-internal-content-wrapper {
            padding-top: 18%;
            justify-content: flex-start;
            align-items: normal;

            h1 {
                text-align: left;
                max-width: unset;
            }
        }
    }
}

footer {
    border-top: 1px solid variables.$gray-300;
    background-color: variables.$white;

    .logo {
        @media (min-width: 991px) and (max-width: 1700px) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    strong {
        @extend .title;

        color: variables.$blue-900;
        font-size: variables.$font-default;
    }

    .address-footer {
        background-color: variables.$blue-900;
        color: variables.$white;

        padding: 2.5rem;

        address {
            color: inherit;
        }
    }

    .link-privacy {
        @extend .link;
        color: variables.$white;
        font-size: variables.$font-sm;

        text-decoration: underline;
    }
}