//Colors
$blue-500: #006FB8;
$blue-900: #004D80;

$gray-100: #E6E6E6;
$gray-200: #C5C5C5;
$gray-300: #BCBCBC;
$gray-400: #8A8A8A;
$gray-500: #888888;

$green: #25D366;

$red: #EF393B;
$white: #FFFFFF;

//Font Sizes
$font-xxxl: 3.75rem; //60
$font-xxl: 3.125rem; //50
$font-xl: 2.1875rem; //35
$font-lg: 1.5625rem; //25
$font-xxmd: 1.375rem; //22
$font-xmd: 1.25rem; //20
$font-md: 1.125rem; //18
$font-default: 1rem; //16
$font-sm: 0.9375rem; //15

//Não é possível com SCSS 
/* @media (max-width: 768px) {
    $font-xxxl: 3.375rem; //54
    $font-xxl: 2.5rem; //40
    $font-xl: 1.875rem; //30
} */